<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>OAuth2 SSO Demo</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/dist/css/bootstrap.css}"/>
    <!-- Latest compiled and minified JavaScript -->
    <script th:src="@{/webjars/jquery/dist/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/dist/js/bootstrap.js}"></script>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Demo</h1>
            <p>Logged in as: <span th:text="${#httpServletRequest.remoteUser}">demo</span></p>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form th:action="@{/messages}" class="form-inline" method="post">
                        <input class="form-control" type="text" name="text" placeholder="Message"/>
                        <button class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
            <h2>Messages</h2>
            <div class="panel panel-default" th:each="message : ${messages}">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span th:text="${message.username}">username</span> @ <span
                            th:text="${message.createdAt}">now</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <span th:text="${message.text}">message</span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
